body {
  background-color: #eee;
  padding-top: 50px;
}

/* Behövs denna?
body > .container {
  margin-top: 40px;
}*/

form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
form .form-control:focus {
  z-index: 2;
}
form input {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

form button[type="submit"] {
  margin-top: 20px;
}

#content {
  margin: 1rem;
}

.quantity-selector {
  width: 14rem;
  float: left;
}

.add-to-cart {
  float: right;
}

.product-caption:after {
  content: '';
  display: block;
  clear: both;
}

.product-caption button:focus {
  outline:none;
}

.btn-cart {
  margin: 12px 5px 0 5px;
  background: linear-gradient(to bottom,#080808 0,#0f0f0f 100%);
  border: none;
  color: #9d9d9d;
  text-shadow: none;
}
.btn-cart:hover,
.btn-cart:active:focus {
  color: #fff;
  outline: none;
  background: linear-gradient(to bottom,#080808 0,#0f0f0f 100%);
}
.btn-cart:focus { color: #fff; outline: true; }

.cart-img {
  margin: 0;
}
.cart-img > img {
  width: 100%;
  height: auto;
}

.cart-calculation {
  margin-bottom: 0;
}
.cart-calculation * {
  text-align: right;
}
.cart-calculation .panel-heading {
  border: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background: #fff;
  padding: 0 auto;
  border-bottom: 1px solid #ddd;
}
.cart-calculation .input-group > * {
  border: 0;
  border-radius: 0;
  padding: 6px 15px;
  background: #f5f5f5;
}
.cart-calculation .panel-footer {
  padding-top: 0;
  border-top: 1px solid darkgrey;
}



.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top {
  vertical-align: top;
}
.col-middle {
  vertical-align: middle;
}
.col-bottom {
  vertical-align: bottom;
}