body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

form {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

form .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
form .form-control:focus {
  z-index: 2;
}
form input {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

form button[type="submit"] {
  margin-top: 20px;
}

#content {
  margin-top: 3rem;
}

.quantity-selector {
  width: 14rem;
  float: left;
}

.add-to-cart {
  float: right;
}

.product-caption:after {
  content: '';
  display: block;
  clear: both;
}

.product-caption button:focus {
  outline:none;
}
